<h6>Meet</h6>
<h3>Welcome {{room}}</h3>
<section id="fullbody" >
</section>

{{!-- <script src="https://meet5.ddns.net/external_api.js"></script> --}}
    <script>
        var domain = "meet5.ddns.net";
        var options = {
            roomName: {{ roomname }},
            {{#if token}}
                jwt: {{ token }}, 
            {{/if}}
            width: "100%",
            height: "60em",
            parentNode: document.querySelector('#fullbody')
        }
        console.log(options)
        //var api = new JitsiMeetExternalAPI(domain, options);
    </script>