<h3><i class="fas fa-user-circle"></i> Login</h3>
<div class="section">
    {{!-- <p class="lead">Create public and private stories from your life</p> --}}
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
    <a href="/auth/facebook" class="btn red darken-1">
        <i class="fab fa-facebook left"></i> Log In With Facebook
    </a>
    <a href="/auth/linkedin" class="btn red darken-1">
        <i class="fab fa-linkedin left"></i> Log In With LinkedIn
    </a>
</div>